@page
@model ContactCenter.Pages.ContactListModel
@{
}

<div class="container-fluid MainBase">
        <div class="container" style="margin-top:10px;">
            <table id="TableList" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th class="col col-sm-1">شماره</th>
                        <th class="col col-sm-9">موضوع</th>
                        <th class="col col-sm-1">سال</th>
                        <th class="col col-sm-1">تعداد</th>
                        <th class="col col-sm-1">دانلود</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>اطلاعات قرارداد ها</td>
                        <td>1401</td>
                        <td>152</td>
                        <td><a href="/resorce/Support/Agreement1401.xls">دانلود</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>اطلاعات قرارداد ها</td>
                        <td>1401</td>
                        <td>141</td>
                        <td><a href="/resorce/Support/Agreement1400.xls">دانلود</a></td>
                    </tr>
                   
                </tbody>
            </table>
            <p class="UpdateLabel">تاریخ به روز رسانی 1402/02/25 </p>
        </div>

    </div>