@page
@model ContactCenter.Pages.ContactListModel
@{
}

 <div class="container-fluid MainBase">
        <div class="container" style="margin-top:10px;">
            <table id="TableList" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th class="col col-sm-1">شماره</th>
                        <th class="col col-sm-9">موضوع</th>
                        <th class="col col-sm-1">دانلود</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ریز بودجه و هزینه کرد</td>
                        <td><a href="/resorce/Budget/بودجه سال1400 .xlsx">دانلود</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ریز بودجه و هزینه کرد</td>
                        <td><a href="/resorce/Budget/بودجه سال 99 .xlsx">دانلود</a></td>
                    </tr>
                </tbody>
            </table>
            <p class="UpdateLabel">تاریخ به روز رسانی 1402/02/25 </p>
        </div>
    </div>