@page
@model ContactCenter.Pages.ContactListModel
@{
}

<div class="container-fluid MainBase">
        <div class="container" style="margin-top:10px;">



            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            لیست مناقصات و مزایدات سال 1401
                            <p class="counter" id="Numbers1401"><p class="counter" >تعداد - </p>1 </p>

                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <table id="TableList" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>نام شرکت</th>
                                        <th>شماره پروانه</th>
                                        <th>تاریخ صدور</th>
                                        <th>قدرت نامی (کیلو وات )</th>
                                        <th>فیدر </th>
                                        <th>پست فوق توزیع</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>نیروگاه 1</td>
                                        <td>1400/21/378</td>
                                        <td>1401/09/06</td>
                                        <td>4100</td>
                                        <td>چکاوک</td>
                                        <td>صنعتی پرند</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            لیست مناقصات و مزایدات سال 1400
                            <p class="counter" id="Numbers1400"><p class="counter" >تعداد - </p>1 </p>

                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <table id="TableList2" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>مرحله</th>
                                        <th>توان نامی منصوبه (کیلووات)</tthd>
                                        <th>نوع انشعاب</th>
                                        <th>منطقه</th>
                                        <th>نوع کنتور</th>
                                        <th>تاریخ نصب کنتور</th>
                                        <th>شماره قرارداد</th>
                                        <th>تاریخ دریافت مجوز</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>بهره برداری</td>
                                        <td>10</td>
                                        <td>سه فاز</td>
                                        <td>دماوند</td>
                                        <td>توس فیوز</td>
                                        <td>96/6/15</td>
                                        <td>96/203872</td>
                                        <td>1396/03/31</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <p class="UpdateLabel">تاریخ به روز رسانی 1402/02/25 </p>
        </div>

    </div>